@import url('https://fonts.googleapis.com/css2?family=Sora&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Epilogue&display=swap');

$color-dark-purple: #A66CFF;
$color-soft-purple: #9C9EFE;
$color-grey: #808080;
$color-black: #000000;
$color-white: #FFFFFF;