@import url("https://fonts.googleapis.com/css2?family=Sora&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Epilogue&display=swap");

$color-dark-purple: #a66cff;
$color-soft-purple: #9c9efe;
$color-grey: #808080;
$color-black: #000000;
$color-white: #ffffff;

.about {
  margin-left: 125px;
  margin-right: 100px;
}

.block {
  margin-top: 10px;
  justify-content: space-between;
  height: flex;
  padding-top: 2px;
  padding-bottom: 2px;
  border-radius: 20px;
  background-color: $color-soft-purple;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  .title {
    margin-top: 15px;
    margin-bottom: 15px;
    padding-left: 50px;
    font-family: "Sora";
    font-style: normal;
    font-size: 45px;
    font-weight: 600;
    color: $color-white;
  }
  .desc-about-left{
    margin: 30px;
    font-family: 'Sora';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 44px;
    letter-spacing: 0.01em;
    color: $color-white;
  }
  .block-desc{
    margin-left: 27px;
    margin-right: 40px;
    margin-bottom: 20px;
    justify-content: space-between;
    height: flex;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 20px;
    background-color: $color-soft-purple;

    .desc-full-about{
      margin-top: 5%;
      margin-left: 20px;
      margin-right: 25px;
      text-align: justify;
      font-family: 'Sora';
      font-style: normal;
      color: rgba(0, 0, 0, 0.5);
    }
  }

  .text-bold{
    margin-top: 20px;
    margin-left: 40px;

    font-family: 'Sora';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
  }

  .text-button{
    font-family: 'Sora';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: $color-white;
    text-align: center;
    margin: 12px;
  }
}