    @import url("https://fonts.googleapis.com/css2?family=Sora&display=swap");
    @import url("https://fonts.googleapis.com/css2?family=Epilogue&display=swap");

    $color-dark-purple: #a66cff;
    $color-soft-purple: #9c9efe;
    $color-grey: #808080;
    $color-black: #000000;
    $color-white: #ffffff;

    .certificate {
        margin-left: 125px;
        margin-right: 100px;

        .block {
            margin-top: 20px;
            justify-content: space-between;
            height: flex;
            padding-top: 2px;
            padding-bottom: 2px;
            border-radius: 20px;
            background-color: $color-soft-purple;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

            .title {
                margin-top: 15px;
                margin-bottom: 15px;
                padding-left: 50px;
                font-family: "Sora";
                font-style: normal;
                font-size: 45px;
                font-weight: 600;
                color: $color-white;
            }
        }

        .certificate-list {
            margin-top: 4%;
            margin-left: auto;
            margin-right: auto;
            width: 50%;
            font-family: "Sora";
            font-style: normal;
            font-size: 23px;
            font-weight: 400;
            color: $color-white;
            margin-bottom: 4%;
            
        }

        .certificate-desc {
            margin-top: 4%;
            margin-left: 20px;
            margin-right: 25px;
            text-align: justify;
            font-family: "Sora";
            font-style: normal;
            color: rgba(0, 0, 0, 0.5);
        }
        
        .text-date {
            margin-top: 4%;
            margin-left: auto;
            margin-right: auto;
            width: 55%;
            font-family: "Sora";
            font-style: normal;
            font-size: 16px;
            font-weight: 400;
            color: $color-white;
            margin-bottom: 4%;
    
        }
    }